<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
    <title>Document</title>
</head>
<body>
<div class="headdiv">
    <h1>Counter</h1>
</div>
<div class="pdiv">
    <p>{{session['count']}} times</p>
</div>
<div class="buttonsdiv">
    <form  action="/add2" method="post">
        <input class="add2" type="submit" value="+ 2">
    </form>

    <form  action="/reset" method="post">
        <input class="reset" type="submit" value="reset">
    </form>
</div>

</body>
</html>